.container-Laporan {
  display: grid;
  grid-template-columns: 0.6fr 2.3fr;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "SideBarLaporan MainLaporan";
  height: 100vh;
}

.MainLaporan {
  grid-area: MainLaporan;
  background-color: #eaeaea;
}

.SideBarLaporan {
  grid-area: SideBarLaporan;
}
/* Sidebar Header */

.header-Sidebar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.content-text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

/* main Laporan */
.container-mainLaporan {
  height: 100%;
  padding: 10px;
}
.container-mainLaporan h2 {
  text-align: center;
}
@media (max-width: 800px) {
  .container-Laporan {
    display: grid;
    grid-template-columns: 61px 85%;
    gap: 0px 0px;
    grid-template-areas: "sidebar-LaporanMini MainLaporan";
  }

  .MainLaporan {
    grid-area: MainLaporan;
    background-color: #eaeaea;
  }

  .sidebar-LaporanMini {
    grid-area: sidebar-LaporanMini;
    height: 100vh;
    width: 60px;
    display: flex;
    justify-content: center;
  }
  .sidebar-LaporanMini > .MuiSvgIcon-root {
    text-align: center;
  }
  .MuiDrawer-paper {
    top: 70px !important;
  }
}
