.container__ScanQrCode {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.scanQrCode {
  height: 78vh;
  background-color: rgb(21, 32, 43);
}
.svg__scanQrcode {
  margin-top: -197px;
}

.MuiFormControlLabel-root {
  color: #696969 !important;
}
.content__qrcode {
  width: 100% !important;
  height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.MuiFormControl-root {
  margin-top: 10px !important;
}
.MuiFormControlLabel-root {
  color: white;
}

.content__qrcode h1 {
  font-size: 40px;
}
.content__qrcode img {
  width: 100px;
  height: 100px;
}
.btn__scan {
  width: 500px !important;
  height: 40px !important;
  color: white;
  background-color: green;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
}
.content__hasil {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scann__btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-color: rgb(175, 175, 175);
  outline: none;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  background-color: #1a652c;
  color: white;
}
.content__hasil input {
  color: #f52929;
}
.content__hasil p {
  margin-top: 40px;
  color: #908989;
  text-align: center;
  font-size: 15px;
}
.card_custom {
  width: 33%;
  background-color: #d8d8d8;
  border-radius: 20px;
}
.form_margin {
  margin-top: 20px !important;
}
@media (max-width: 576px) {
  .content__hasil p {
    font-size: 28px;
  }
  .form_margin {
    margin-top: 20px !important;
  }
  .card_custom {
    width: 90%;
    background-color: #d8d8d8;
    border-radius: 20px;
  }
  .content__qrcode {
    justify-content: flex-start;
  }
  .svg__scanQrcode {
    margin-top: -65px;
  }
  .content__qrcode h1 {
    font-size: 20px;
    text-align: center;
  }
  .content__qrcode img {
    width: 50px;
    height: 50px;
  }
  .content__qrcode button {
    width: 234px !important;
    height: 50px !important;
    border-radius: 10px !important;
  }
}
