@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 20px;
  background: linear-gradient(to left, #c8c8c8, #60b9dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kalam", cursive;
}
h2 {
  font-family: "Nunito", sans-serif;
}
h3 {
  font-family: "Montserrat Alternates", sans-serif;
}
p {
  font-family: "Nunito", sans-serif;
}
.text__danger {
  text-align: center;
  color: red;
}
.fallback {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-rows: 70px 1fr 50px;
  grid-template-columns: repeat(1, 100%);
  grid-template-areas:
    "nav"
    "main"
    "footer";
}
.navbar {
  grid-area: "nav";
}
.main {
  grid-area: "main";
}
.footer {
  grid-area: "footer";
}
