@media (max-width: 576px) {
  .MuiBottomNavigation-root {
    width: 100% !important;
    position: sticky !important;
    bottom: 0 !important;
    background-color: #f7f7f7 !important;
  }
  .MuiSvgIcon-root {
    width: 20px !important ;
  }

  .MuiBottomNavigationAction-label {
    font-size: 10px !important;
    color: gray !important;
  }
}
