.footer {
  background-color: rgb(21, 32, 43);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50px;
  margin-top: 100px;
}
.footer h4 {
  padding: 17px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
